.colour{
color:  hsl(188, 78%, 31%);

}

.container-center
{
	position: absolute;
	top: 25%;
	right: 50%;
	width: 50%;
	transform: translateX(50%);
}

body{
	background-color: var(--background_color);
}
.dark-mode {
	background-color: #1a1a1a;
	color: #f0f0f0;
  }


