{% extends "base.html" %}
{% block title %}HomePage{% endblock %}
{% block content %}


<textarea class="defaultTextBox" name="text" cols="65" rows="3">
    Hello and welcome to my site, where you a football club manager, will create your own team, with your own players 
    but with the limitations of a fair budget, be sure to use the tools of the sites that improve your decision making. 
    based on several recommendation systems and predictions. 
    </textarea>

<textarea class="defaultTextBox" name="text" cols="65" rows="3" style="position: relative;left: 30%;">
        You can also use the site for searching about your favourite players! 
        Try using the players tab and teams tab  
</textarea>
{% endblock %}

