{% extends "base.html" %}
{% block title %}User Preferences{% endblock %}
{% block content %}
<link rel="stylesheet" href="dark-mode.css">
<script src="dark-mode-switch.min.js"></script>




 


<!-- <button onclick="myFunction()">Toggle dark mode</button> -->
<form class='colour' method="POST" action="/userpref" style="position: relative ;height: auto; left: 48%;">
<input type='checkbox' name='cbox'>
<label>Theme</label>
<input type='submit' value='Submit'>
</form>

<form class='colour' method="POST" action="/userpref" style="position: relative ;height: auto; left: 48%;">
<input type='checkbox' name='dbox'>
<label>Database version</label>
<input type="submit" value="Submit">
</form>
{% endblock %}
